* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: var(--bs-nav-link-color);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.content {
  margin-bottom: 2rem;
}
.table {
  margin-bottom: 0;
}
.nav-link {
  color: #212529;
}
.navbar-collapse {
  justify-content: flex-end;
}
.footer {
  background: var(--bs-light);
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 8px;
  }
}
